body{
      font-size: 16px;
      font-family: 'Lora', serif;
      background-color: #131416;
      color: rgba(255, 255, 255, 0.87);
}

/* CSS for banner */

.banner h1{
      text-align: center;
      font-size: 24px;
      margin-top: 14px;
}

.banner h3{
      font-family: 'Slabo 27px', serif;
      text-align: center;
      font-size: 22px;
}

/* CSS for navbar */

.navbar-default{
      background-color: #1d3e3e;
      border: 1px solid #1d3e3e;
}

.navbar-default .navbar-nav li{
      margin: 10px;
      color: rgba(255, 255, 255, 0.87);
}

.navbar-default .navbar-nav li>a{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.87);
      background-color: #1d3e3e;
      border-radius: 2px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
      background-color: #2b9393;
      color: rgba(255, 255, 255, 0.87);
}

.navbar-default .navbar-nav li>a:hover,
.navbar-default .navbar-nav li>a:focus{
      background-color: #2b9393;
      color: rgba(255, 255, 255, 0.87);
}

#collape{
       background-color: #1d3e3e;
       border: 1px solid #1d3e3e;
       color: rgba(255, 255, 255, 0.87);
}

#collape:hover,
#collape:focus{
       background-color: #3f8181;
       border: 1px solid #3f8181;
       color: rgba(255, 255, 255, 0.87);
}

#icon-bar{
      background-color: rgba(255, 255, 255, 0.87);
}

/* CSS for footer */

.footer{
      font-size: 14px;
      background-color: #1d3e3e;
      padding: 10px;
}

.footer li{
       list-style: none;
       margin:24px;
}
     .social{
            padding-left:24px;
      }

      .fa{
            font-size: 20px;
            border: 1px solid #2b9393;
            box-shadow: 0px 1px 1px 0px #2b9393;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
      }
         .fa:hover{
            font-size: 20px;
            background-color: #2b9393;
            border: 1px solid #2b9393;
            border-radius: 10px;
      }



@media(min-width:992px){
      
      /*CSS for banner */
      
      .banner h1{
            font-size: 34px;
      }

      .banner h3{
            font-size: 22px;
      }
      
      /* CSS for navigation bar */

      .navbar-default .navbar-nav>.active>a,
      .navbar-default .navbar-nav>.active>a:hover,
      .navbar-default .navbar-nav>.active>a:focus{
            background-color: #2b9393;
            color: rgba(255, 255, 255, 0.87);
            box-shadow:0px 1px 1px 1px rgba(255, 255, 255, 0.14); 
            border-bottom: 1px solid #2b9393;
            border-radius: 15px;
      }

      .navbar-default .navbar-nav li>a:hover,
      .navbar-default .navbar-nav li>a:focus{
            background-color: #1d3e3e;
            color: rgba(255, 255, 255, 0.87);
            border-bottom: 1px solid #2b9393;
            border-radius: 10px;
            
      }
      
      /* CSS for footer */
      
      .footer{
      font-size: 16px;
      }
      
      .footer ul{
             padding: 14px;
      }

      .footer li{
            display: inline;

      }
      
}

