.service{
    margin: 24px;
    background-color:darkcyan;
    box-shadow:0px 1px 1px 1px rgba(255, 255, 255, 0.56); 
}

.serv_label{
  font-size: 20px;
  border: 1px solid darkcyan;
  margin: 12px auto;
  background-color: darkcyan;
  border-radius: 20px;
  padding: 10px;
  font-family: 'PT Serif', serif;
  font-weight: 100;
  box-shadow:0px 1px 1px 1px rgba(255, 255, 255, 0.26); 

}

.service h5{
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 12px auto;
}

.service p{
  font-size: 16px;
  padding: inherit;
  text-align: justify;
}


@media(min-width:992px){
.service{
    margin: 24px auto;
}

}