.service{
    margin: 24px;
    margin-top: 10px;
    box-shadow:0px 1px 1px 1px rgba(114, 114, 114, 0.56); 
    background-color:#ffffff;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.first{
    margin-top: 150px;
}
.serv_label{
  font-size: 20px;
  padding: 20px;
  color: white;
  font-weight: 100;
    text-align: center;
  box-shadow:0px 1px 1px 1px rgba(255, 255, 255, 0.26); 
}
.innerdata{
    padding: 24px;
}
#one{
     background-color: #03A9F4;
}
.service h5{
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 12px auto;
}
.service p{
  font-size: 16px;
  padding: inherit;
  text-align: justify;
}
.innerdata h4{
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
    margin: 12px auto;
    background-color: #e5362a; 
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    color: white;
}
.lables{
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
    margin: 12px;
    background-color: #e5362a; 
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    color: white;
}
.subhead{
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
    margin: 12px auto;
    background-color: #e5362a; 
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    color: white;
}
@media(min-width:992px){
.service{
    margin: 48px;
    margin-top: 10px;
}
.first{
    margin-top: 150px;
}
}